<div>
    <label [for]="title" class="sr-only">{{title}}</label>

    <div class="relative">
        <input type="text" [name]="title" [id]="title" [type]="fieldType" class="w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm" [ngClass]="{'border-red-600': !isValid, 'bg-gray-300': isDisabled}"
            [(ngModel)]="fieldValue" (ngModelChange)="valueChanged()" [placeholder]="title" [disabled]="isDisabled"/>
    </div>

    <p class="ml-2 text-sm" *ngIf="!isValid">
      <strong>Error:</strong>
      Please enter a valid email address
    </p>
</div>
