<tc-header></tc-header>
<main>
  <div class="w-full mt-10">
    <img src="https://www.nicepng.com/png/full/246-2467547_your-logo-here-your-logo-here-logo-png.png"
      class="rounded-full w-52 h-52 m-auto">
  </div>
  <div class="text-center mt-10">
    <tc-title>Seja bem vindo, {{userName}}</tc-title>
  </div>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4 px-10 mt-20 mb-10">
    <tc-action-card link="/user/jobs/list" [action]="1" title="Consultar Vagas"
      description="Ache novos canditados para sua empresa!"></tc-action-card>
    <tc-action-card link="/user/job/charts" [action]="2" title="Estatísticas"
      description="Acompanhe os processos já cadastrados!"></tc-action-card>
    <tc-action-card link="/user/notifications" [action]="3" title="Notificações"
      description="Veja como os seus processos estão indo!"></tc-action-card>
    <tc-action-card link="/user/profile" [action]="4" title="Perfil" description="Revise seu cadastro!">
    </tc-action-card>
  </div>
</main>
<tc-footer></tc-footer>
