<tc-header></tc-header>
<main>
  <div class="max-w-xl mx-auto mt-8 mb-0 space-y-4">
    <div class="text-center">
      <tc-title>Perfil</tc-title>
    </div>
    <div class="text-center">
      <tc-sub-title>Edite suas informações!</tc-sub-title>
    </div>
    <div class="w-full mt-10">
      <img src="https://www.nicepng.com/png/full/246-2467547_your-logo-here-your-logo-here-logo-png.png"
        class="rounded-full w-52 h-52 m-auto">
    </div>
    <div>
      <tc-input title="Nome" fieldType="text" [(fieldValue)]="user.name"></tc-input>
    </div>
    <div>
      <tc-input title="Endereço" fieldType="text" [(fieldValue)]="user.address"></tc-input>
    </div>
    <div>
      <tc-input title="E-mail" fieldType="email" [(fieldValue)]="user.email" [isDisabled]="true"></tc-input>
    </div>
    <div class="flex items-center justify-between">
      <tc-button routerLink="/user/home" buttonClass="text-gray-500">Descartar</tc-button>
      <tc-button (buttonClick)="UpdateUser()">Salvar</tc-button>
    </div>
  </div>
</main>
