<tc-header></tc-header>
<main>
  <div class="text-center">
    <tc-title>Perfil</tc-title>
  </div>
  <div class="text-center">
    <tc-sub-title>Edite suas informações!</tc-sub-title>
  </div>
  <div class="max-w-xl mx-auto mt-8 mb-0 space-y-4">
    <div>
      <tc-input title="Nome" fieldType="text"></tc-input>
    </div>
    <div>
      <tc-input title="Endereço" fieldType="text"></tc-input>
    </div>
    <div>
      <tc-input title="E-mail" fieldType="email"></tc-input>
    </div>
    <div>
      <tc-input title="Senha" fieldType="password"></tc-input>
    </div>
    <div class="flex items-center justify-between">
      <tc-button buttonClass="text-gray-500">Descartar</tc-button>
      <tc-button>Salvar</tc-button>
    </div>
  </div>
</main>
